body {
    line-height: 1.5;
    font-family: 'Poppins', sans-serif;
}

.container {
    max-width: 1200px;
    padding: 0 30px;
    margin: 0 auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.section {
    min-height: 735px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
}

.about-section {
    padding: 110px 0;
    background: url("../images/about-section-bg.png") no-repeat center;
    background-size: cover;
}

.section-content {
    width: 650px;
}

.section-title {
    color: #099188;
    font-weight: 700;
    font-size: 54px;
    line-height: 65px;
    margin-bottom: 50px;
}

.section-text {
    color: #231F20;
}

.section-title span {
    color: #231F20;
}

.section-text span {
    font-weight: bolder;
}

@media (max-width: 1535px) {
    .section {
        min-height: 650px;
    }
    .section-content {
        width: 540px;
    }
    .section-title {
        font-size: 44px;
        line-height: 55px;
        margin-bottom: 40px;
    }
}

@media (max-width: 1279px) {
    .section {
        min-height: 520px;
    }
    .section-content {
        width: 485px;
    }
    .section-title {
        font-size: 40px;
        line-height: 50px;
    }
}

@media (max-width: 1023px) {
    .about-section {
        padding: 90px 0 150px 0;
    }
    .section-content {
        width: 430px;
    }
    .section-title {
        font-size: 36px;
        line-height: 50px;
    }
}

@media (max-width: 767px) {
    .container {
        padding: 0 15px;
    }
    .about-section {
        padding: 80px 0 180px 0;
        background-image: url("../images/about-section-mobile-bg.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    .section-content {
        width: auto;
    }
    .section-title {
        font-size: 24px;
        line-height: 30px;
        margin-bottom: 25px;
    }
    .section.about-section {
        min-height: 410px;
    }
    .section {
        min-height: 570px;
    }
}